.questions-block {
    height: 80vh;
    margin: 10px;
}

.questions-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question {
    width: 100%;
    border-bottom: 2px solid #b2ffa8;
    text-align: left;
    padding: 10px;
    margin-left: 50px;
    -webkit-box-shadow: 0px 0px 10px -2px #b2ffa8;
    -moz-box-shadow: 0px 0px 10px -2px #b2ffa8;
    box-shadow: 0px 0px 10px -2px #b2ffa8;
    border-radius: 12px;
}

.submitButton {
    margin: 5vh;
    width: 10vw;
    background-color: #d72483;
    color: white;
    padding: 7px;
    font-size: large;
    font-weight: 700;
    border-radius: 12px;
    outline: none;
    border: 2px solid #d72483;
    cursor: pointer;
}
